Django==4.2
django-cors-headers==4.0.0
djangorestframework==3.14.0
Pillow==9.5.0
sorl-thumbnail==12.9.0
gunicorn==21.2.0
channels==4.0.0
daphne==4.0.0
pusher==3.3.2
pymemcache
python-dotenv
mysqlclient
requests
whitenoise
channels-redis